li {
  display: flex;
  padding: 15px;
  background: #373a4b;
  border-radius: 10px;
  margin: 5px 0;
  transition: all .2s ease-in;
  &:hover {
    background: lighten(#373a4b, 5%);
  }  

  img {
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    border-radius: 10px;
    border: 3px solid #5d6176;
  }

  .item-text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    span {
      color: white;
      &:first-child {
        font-weight: 600;
        margin: 0 0 5px 0;
        color: #8acbff;
      }
    }

    .like {
      display: flex;
      margin: 10px 0;
      font-size: 14px;
      color: #9da0b0;
      svg {
        width: 15px;
        height: 15px;
        margin: 2px 5px;
        fill: #E91E63;
      }
    }
  }
}